<div class="container">
  <div class="mb-3 row">
    <div class="col-lg-4 d-flex justify-content-center" style="background-color: secondarys" >
      <h4 class="px-3 my-3 bg-secondary text-white" >商品編集</h4>
    </div>
  </div>

  <!-- 商品情報編集のためのform_withを記述 -->
  <%= form_with model:@item, url:"/admin/items/#{@item.id}", local:true do |f| %>
  <div class="mb-3 row d-flex justify-content-center">
    <div class="col-lg-2">
      <%= f.label :商品画像 %>
    </div>
    <div class="col-lg-4">
      <%= f.attachment_field :image %>
    </div>
  </div>
  <div class="mb-3 row d-flex justify-content-center">
    <div class="col-lg-2">
      <%= f.label :商品名 %>
    </div>
    <div class="col-lg-4">
      <%= f.text_field :name, placeholder: "商品名", class:"form-control" %>
      </div>
    </div>
    <div class="mb-3 row d-flex justify-content-center">
      <div class="col-lg-2">
        <%= f.label :商品説明 %>
      </div>
    <div class="col-lg-4">
      <%= f.text_area :introduction, placeholder: "ここに説明文を記述します", class:"form-control" %>
    </div>
  </div>
  <div class="mb-3 row d-flex justify-content-center">
    <div class="col-lg-2">
      <%= f.label :ジャンル %>
    </div>
    <!--Genresのデータベースからカラムを引っ張って、プルダウンを実装するためのコード -->
    <div class="col-lg-4">
      <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "-- 選択して下さい --", class:"form-control" %>
    </div>
  </div>
  <div class="mb-3 row d-flex justify-content-center">
    <div class="col-lg-2">
      <%= f.label :税抜価格 %>
    </div>
    <div class="col-lg-4">
      <%= f.text_field :price, placeholder: "1000", class:"form-control" %><span>円</span>
    </div>
  </div>
  <div class="mb-3 row d-flex justify-content-center">
    <div class="col-lg-2">
      <%= f.label :販売ステータス %>
    </div>
    <div class="col-lg-4">
      <%= f.radio_button :is_active, '1' %>
      <%= f.label :is_active, '販売中', value: 1 %>
      <%= f.radio_button :is_active, '0' %>
      <%= f.label :is_active, '販売停止中', value: 0 %>
    </div>
  </div>
  <div class="mb-3 row d-flex justify-content-center">
    <div class="col-lg-3">
      <%= f.submit '変更を保存' %>
    </div>
  </div>
  <% end %>
</div>