<!-- テーブルにてレイアウト調整が必要 -->
<h4>商品一覧</h4>
  <table>
    <tr>
      <th>商品ID</th>
      <th>商品名</th>
      <th>税抜価格</th>
      <th>ジャンル</th>
      <th>ステータス</th>
    </tr>
    <% @items.each do |item| %>
    <tr>
      <td>
        <%= item.id %>
      </td>
      <td>
        <%= item.name %>
      </td>
      <td>
        <%= item.price.to_s(:delimited) %>
      </td>
      <td>
        <%= item.genre.name %>
      </td>
      <td>
        <%= item.is_active ? '販売中':'販売停止中' %>
      </td>

    </tr>
    <% end %>
  </table>
