<%= attachment_image_tag @item, :image %>
<table>
  <tr>
    <th>商品名</th>
    <td><%= @item.name %></td>
  </tr>
  <tr>
    <th>商品説明</th>
    <td><%= @item.introduction %></td>
  </tr>
  <tr>
    <th>ジャンル</th>
    <td><%= @item.genre.name %></td>
  </tr>
  <tr>
    <th>税込価格<br />
        (税抜価格)</th>
    <td>(<%= @item.price.to_s(:delimited) %>)円</td>
  </tr>
  <tr>
    <th>販売ステータス</th>
    <td><%= @item.is_active ? '販売中':'販売停止中' %></td>
  </tr>

</table>