<div class="container">
  <div class="mb-3 row">
    <div class="col-lg-4 d-flex justify-content-center" style="background-color: secondarys" >
      <h4 class="px-3 my-3 bg-secondary text-white"><%= @customer.last_name %><%= @customer.first_name %>さんの会員詳細</h4>
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col">
      <table class="table table-borderless">
        <tr>
          <td>会員ID</td>
          <td><%= @customer.id %></td>
        </tr>
        <tr>
          <th>氏名</th>
          <td><%= @customer.last_name %> <%= @customer.first_name %></td>
        </tr>
        <tr>
          <th>フリガナ</th>
          <td><%= @customer.last_name_kana %> <%= @customer.first_name_kana %></td>
        </tr>
        <tr>
          <th>郵便番号</th>
          <td><%= @customer.postal_code %></td>
        </tr>
        <tr>
          <th>住所</th>
          <td><%= @customer.address %></td>
        </tr>
        <tr>
          <th>電話番号</th>
          <td><%= @customer.telephone_number %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= @customer.email %></td>
        </tr>
        <tr>
          <th>会員ステータス</th>
          <td><%= @customer.is_deleted ? '有効':'退会' %></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="mb-3 row d-flex justify-content-center">
    <div class="col">
      <%= link_to "編集する", edit_admin_customer_path(@customer.id), class:"px-5 py-7 btn btn-success" %>
      <%= link_to "注文履歴一覧を見る", admin_customers_path, class:"px-5 py-7 btn btn-primary" %>
    </div>
  </div>
</div>
