<div class="container">
  <div class="mb-3 row">
    <div class="col-lg-4 d-flex justify-content-center" style="background-color: secondarys" >
      <h4 class="px-3 my-3 bg-secondary text-white">注文履歴詳細</h4>
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col">
      <table class="table table-borderless">
        <tr>
          <th>購入者</th>
          <td><%= @order.customer.last_name %> <%= @order.customer.first_name %></td>
        </tr>
        <tr>
          <th>注文日</th>
          <td><%= @order.created_at.strftime("%Y/%m/%d %H:%M") %></td>
        </tr>
        <tr>
          <th>配送先</th>
          <td><span>〒</span><%= @order.customer.postal_code.to_s.insert(3, "-") %><%= @order.customer.address %></td>
        </tr>
        <tr>
          <th>支払方法</th>
          <td><%= @order.payment_method_i18n %></td>
        </tr>
        <tr>
          <th>注文ステータス</th><!-- 注文履歴詳細画面内で、ステータスを変更・更新できるようにする -->
          <td><%= @order.status_i18n %></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8">
      <table class="table">
        <tr class="table-light">
          <th scope="col" style="width: 30%">商品名</th>
          <th scope="col" style="width: 15%">単価(税込)</th>
          <th scope="col" style="width: 15%">数量</th>
          <th scope="col" style="width: 15%">小計</th>
          <th scope="col" style="width: 25%">製作ステータス</th>
        </tr>
        <% @order_details.each do |order_detail| %>
        <tr>
          <td>
            <%= order_detail.item.name %>
          </td>
          <td>
            <%= order_detail.price.to_s(:delimited) %>
          </td>
          <td>
            <%= order_detail.amount %>
          </td>
          <td>
            <!-- 小計の挿入 -->
            <%= order_detail.subtotal.to_s(:delimited) %>
          </td>
          <td><!-- 後ほど注文詳細履歴で変更・更新 -->
            <%= order_detail.making_status_i18n %>
          </td>
        </tr>
        <% end %>
      </table>
    </div>

    <div class="col-lg-4 bd-highlight">
      <table class="table table-borderless">
        <tr>
          <th><h5><strong>商品合計</strong></h5></th>
          <td><h5 class="text-right"><%= (@order.total_payment -= 800).to_s(:delimited) %>円</h5></td>
        </tr>
        <tr>
          <th><h5><strong>送料</strong></h5></th>
          <td><h5 class="text-right"><%= @order.shipping_cost %>円</h5></td>
        </tr>
        <tr>
          <th><h5><strong>請求合計金額</strong></h5></th>
          <td><h5 class="text-right"><strong><%= @order_total_payment.total_payment.to_s(:delimited) %>円</strong></h5></td>
        </tr>
      </table>
    </div>
  </div>
</div>


