<!-- 会員情報編集画面 -->
<div class="container">
  <div class="my-3 row">
    <div class="col-lg-4 d-flex justify-content-center" style="background-color: secondarys" >
      <h4 class="px-3 mb-1 bg-secondary text-white">会員情報編集</h4>
    </div>
  </div>

　<%= form_with model:@customer, url:"/customers/mypage", local:true do |f| %>

　<!-- 氏名を入力するフォーム -->
  <div class="form-group row">
    <%= f.label :氏名, class:"col-lg-2 col-form-label" %>
    <div class="col-lg-3">
      <%= f.text_field :last_name, autofocus: true, placeholder: "令和", class:"form-control" %>
    </div>
    <div class="col-lg-3">
      <%= f.text_field :first_name, autofocus: true, placeholder: "道子", class:"form-control" %>
    </div>
  </div>
  <!-- 以上 -->

  <!-- シメイを入力するフォーム -->
  <div class="form-group row">
    <%= f.label :フリガナ, class:"col-lg-2 col-form-label" %>
    <div class="col-lg-3">
      <%= f.text_field :last_name_kana, autofocus: true, placeholder: "レイワ", class:"form-control" %>
    </div>
    <div class="col-lg-3">
      <%= f.text_field :first_name_kana, autofocus: true, placeholder: "ミチコ", class:"form-control" %>
    </div>
  </div>
  <!-- 以上 -->

  <!-- 郵便番号（ハイフンなし）を入力するフォーム -->
  <div class="form-group row">
    <%= f.label :"郵便番号", class:"col-lg-2 col-form-label" %>
    <div class="col-lg-3">
      <%= f.text_field :postal_code, autofocus: true, placeholder: "0000000", class:"form-control" %>
    </div>
  </div>
  <!-- 以上-->

  <!-- 住所を入力するフォーム -->
  <div class="form-group row">
    <%= f.label :住所, class:"col-lg-2 col-form-label" %>
    <div class="col-lg-7">
      <%= f.text_field :address, autofocus: true, placeholder: "東京都渋谷区代々木神園町0-0", class:"form-control" %>
    </div>
  </div>
  <!-- 以上-->

  <!-- 電話番号を入力する -->
  <div class="form-group row">
    <%= f.label :"電話番号(ハイフンなし)", class:"col-lg-2 col-form-label" %>
    <div class="col-lg-3">
      <%= f.text_field :telephone_number, autofocus: true, placeholder: "0000000000", class:"form-control" %>
    </div>
  </div>
  <!-- 以上-->

  <!-- メールアドレスを入力するフォーム -->
  <div class="form-group row">
    <%= f.label :メールアドレス, class:"col-lg-2 col-form-label" %>
    <div class="col-lg-3">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", class:"form-control" %>
    </div>
    <div class="col-lg-6"></div>
  </div>
  <!-- 以上-->

  <!-- 「編集内容を保存」ボタン -->
    <div class="actions row">
      <div class="col-lg-2"></div>
      <div class="col-lg-3">
        <%= f.submit "編集内容を保存", class: "btn btn-success btn-block" %>
      </div>
      <div class="col-lg-2"></div>
      <div class="col-lg-2">
        <%= link_to '退会する', unsubscribe_path(current_customer.id), class: "btn btn-danger" %>
      </div>
    </div>
    <!-- 以上 -->
  <% end %>
</div>
