<h4>注文情報確認</h4>
<table>
  <tr>
    <th>
      <p>商品名</p>
    </th>
    <th>
      <p>単価(税込)</p>
    </th>
    <th>
      <p>数量</p>
    </th>
    <th>
      <p>小計</p>
    </th>
  </tr>
  <% @sum = 0 %>
  <% @cart_items.each do |cart_item| %>
  <tr>
    <td>
      <%= cart_item.item.name %>
    </td>
    <td>
      <%= cart_item.item.with_tax_price.to_s(:delimited) %>
    </td>
    <td>
      <%= cart_item.amount %>
    </td>
    <td>
      <%= cart_item.subtotal%>
      <% @sum += cart_item.subtotal %>
    </td>
  </tr>
  <% end %>
</table>
<table>
  <tr>
    <th>
      <p>送料</p>
    </th>
    <td>800</td>
  </tr>
  <tr>
    <th>
      <p>商品合計</p>
    </th>
    <td><%= @sum %></td>
  </tr>
  <tr>
    <th>
      <p>
        請求金額
      </p>
    </th>
    <td>
      <%= @sum += 800  %>
    </td>
  </tr>
</table>

<p>
  <strong>
  支払い方法
  </strong>
  <%= @order.payment_method_i18n %>
</p>

<p>
  <strong>
    お届け先
  </strong>
  <%= @order.full_address %>
  <%= @order.name %>
</p>


<%= form_with model: @order, url: orders_path, local: true do |f| %>
<%= f.hidden_field :customer_id, :value => current_customer.id %>
<%= f.hidden_field :postal_code %>
<%= f.hidden_field :address %>
<%= f.hidden_field :name %>
<%= f.hidden_field :shipping_cost, :value => 800 %>
<%= f.hidden_field :total_price, :value => @sum %>
<%= f.hidden_field :status, :value => Order.statuses.key(0) %>
<%= f.submit "注文を確定する" %>
<% end %>