<h4>注文履歴一覧</h4>
<table>
  <tr>
    <th>
      <p>注文日</p>
    </th>
    <th>
      <p>配送先</p>
    </th>
    <th>
      <p>注文商品</p>
    </th>
    <th>
      <p>支払金額</p>
    </th>
    <th>
      <p>ステータス</p>
    </th>
    <th>
      <p>注文詳細</p>
    </th>
  </tr>
  <% @orders.each do |order| %>
  <tr>
    <td>
      <%= order.created_at.strftime("%Y/%m/%d") %>
    </td>
    <td>
      <p>〒<%= order.postal_code %></p>
      <%= order.address %>
      <%= order.name %>
    </td>
    <td>
      <% @order_details.each do |order_detail| %>
      <%= order_detail.item.name %>
      <% end %>
    </td>
    <td>
      <%= order.total_payment %>
    </td>
    <td>
      <%= order.status_i18n %>
    </td>
  </tr>
  <% end %>
</table>

