<!-- 注文履歴一覧画面 -->
<div class="container">
  <div class="my-3 row">
    <div class="col-lg-4 d-flex justify-content-center" style="background-color: secondarys" >
      <h4 class="px-3 mb-3 bg-secondary text-white">注文履歴一覧</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-11">
      <table class="table table-bordered border-dark">
        <tr class="table-active">
          <th scope="col" style="width: 10%">注文日</th>
          <th scope="col" style="width: 33%">配送先</th>
          <th scope="col" style="width: 16%">注文商品</th>
          <th scope="col" style="width: 10%">支払金額</th>
          <th scope="col" style="width: 10%">ステータス</th>
          <th scope="col" style="width: 11%">注文詳細</th>
        </tr>
        <% @orders.each do |order| %>
        <tr>
          <td class="align-middle">
            <%= order.created_at.strftime("%Y/%m/%d") %>
          </td>
          <td class="align-middle">
            〒<%= order.postal_code %><br />
              <%= order.address %><br />
              <%= order.name %>
          </td>
          <td class="align-middle">
            <% order.order_details.each do |order_detail| %>
            <%= order_detail.item.name %><br />
            <% end %>
          </td>
          <td class="align-middle">
            <%= order.total_payment.to_s(:delimited) %>
          </td>
          <td class="align-middle">
            <%= order.status_i18n %>
          </td>
          <td class="align-middle">
            <%= link_to '表示する', order_path(order.id), class: "btn btn-primary" %>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>

