<h4>注文情報入力</h4>

<%= form_with model:@order, url: confirm_orders_path, local:true do |f| %>

<br />

<strong>支払方法</strong><br />
<%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
<%= f.label :payment_method, Order.payment_methods_i18n[:credit_card] %>
<br />
<%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
<%= f.label :payment_method, Order.payment_methods_i18n[:transfer]%>
<br />
<strong>お届け先</strong><br />
<%= f.radio_button :select_address, '1' %>
  <%= f.label :select_address_1, "ご自身の住所" %>
  <%= current_customer.address %>
<br />
<%= f.radio_button :select_address, '2' %>
  <%= f.label :select_address_2, "登録済住所から選択" %>
  <%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :full_address) %>
<br />
<%= f.radio_button :select_address, '3' %>
  <%= f.label :select_address_3, "新しいお届け先" %>
  <%= f.label :postal_code, "郵便番号(ハイフンなし)" %>
  <%= f.text_field :postal_code %>
  <%= f.label :address, "住所" %>
  <%= f.text_field :address %>
  <%= f.label :name, "宛名" %>
  <%= f.text_field :name %>
<!-- 選んでもらったデータを送ります -->
  <%= f.submit "確認画面へ進む" %>
<% end %>