<h4>注文情報入力</h4>

<strong>支払方法</strong>

<%= form_with model:@orders, url:'/orders', local:true do |f| %>

<%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
<%= f.label :payment_method, Order.payment_methods_i18n[:credit_card] %>

<%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
<%= f.label :payment_method, Order.payment_methods_i18n[:transfer]%>

<% end %>