<!-- 注文履歴一覧画面 -->
<div class="container">
  <div class="my-3 row">
    <div class="col-lg-4 d-flex justify-content-center" style="background-color: secondarys" >
      <h4 class="px-3 mb-3 bg-secondary text-white">注文履歴詳細</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-7">
      <h5><strong>注文情報</strong></h5>
      <table class="table table-bordered border-dark">
        <tr>
          <td class="table-active" scope="col" style="width: 30%">
            <p>注文日</p>
          </td>
          <td scope="col" style="width: 70%">
            <%= @order.created_at.strftime("%Y/%m/%d") %>
          </td>
        </tr>
        <tr>
          <td class="table-active">
            <p>配送先</p>
          </td>
          <td>
            〒<%= @order.postal_code %><br />
              <%= @order.address %><br />
              <%= @order.name %>
          </td>
        </tr>
        <tr>
          <td class="table-active">
            <p>支払方法</p>
          </td>
          <td>
            <%= @order.payment_method_i18n %>
          </td>
        </tr>
        <tr>
          <td class="table-active">
            <p>ステータス</p>
          </td>
          <td>
            <%= @order.status_i18n %>
          </td>
        </tr>
      </table>
    </div>

    <div class="col-lg-4">
      <h5><strong>請求情報</strong></h5>
      <table class="table table-bordered border-dark">
        <tr>
          <td class="table-active" scope="col" style="width: 60%">
            <p>商品合計</p>
          </td>
          <td scope="col" style="width: 40%">
            <%= (@order.total_payment -= 800).to_s(:delimited) %>
          </td>
        </tr>
        <tr>
          <td class="table-active">
            <p>配送料</p>
          </td>
          <td>800</td>
        </tr>
        <tr>
          <td class="table-active">
            <p><strong>ご請求額</strong></p>
          </td>
          <td><%= @order.total_payment.to_s(:delimited) %></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8">
      <h5><strong>注文内容</strong></h5>
      <table class="table table-bordered border-dark">
        <tr class="table-active">
          <td scope="col" style="width: 60%">
            <p>商品名</p>
          </td>
          <td scope="col" style="width: 20%">
            <p>単価(税込)</p>
          </td>
          <td scope="col" style="width: 10%">
            <p>個数</p>
          </td>
          <td scope="col" style="width: 10%">
            <p>小計</p>
          </td>
        </tr>
        <% @order_details.each do |order_detail| %>
        <tr>
          <td><%= order_detail.item.name %></td>
          <td><%= order_detail.with_tax_price.to_s(:delimited) %></td>
          <td><%= order_detail.amount %></td>
          <td><%= order_detail.subtotal.to_s(:delimited) %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>