<div class="container">
  <div class="mb-3 row">
     <div class="col-lg-4 d-flex justify-content-center" style="background-color: secondarys" >
      <h4 class="px-3 my-3 bg-secondary text-white">管理者ログイン</h4>
    </div>
  </div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="mb-3 row">
      <div class="col-lg-2"></div>
      <div class="col-lg-2">
        <%= f.label "メールアドレス" %>
      </div>
      <div class="col-lg-6">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", class:"form-control-plaintext" %>
      </div>
      <div class="col-lg-2"></div>
    </div>
    <div class="mb-3 row">
      <div class="col-lg-2"></div>
      <div class="col-lg-2">
        <%= f.label "パスワード" %>
      </div>
      <div class="col-lg-6">
        <%= f.password_field :password, autocomplete: "current-password", class:"form-control" %>
      </div>
      <div class="col-lg-2"></div>
    </div>
  </div>
  <div class="row">
  <div class="col-lg-12 d-flex justify-content-center">
    <%= f.submit "ログイン", class: "px-5 py-1 my-3 btn btn-primary" %>
  </div>
<% end %>


  </div>



