<!-- 配送先登録・一覧画面 -->
<div class="container">
  <div class="my-3 row">
    <div class="col-lg-4 d-flex justify-content-center" style="background-color: secondarys" >
      <h4 class="px-3 mb-3 bg-secondary text-white">配送先登録/一覧</h4>
    </div>
  </div>
    
    <%= form_with model:@address, url:'/addresses', local:true do |f| %>
    
  <!-- 郵便番号（ハイフンなし）を入力するフォーム -->
  <div class="form-group row">
    <%= f.label :postal_code, "郵便番号(ハイフンなし)", class:"col-lg-3 col-form-label" %>
    <div class="col-lg-3">
      <%= f.text_field :postal_code, autofocus: true, placeholder: "0000000", class:"form-control" %>
    </div>
  </div>
  <!-- 以上-->
  
  <!-- 住所を入力するフォーム -->
  <div class="form-group row">
    <%= f.label :address, "住所", class:"col-lg-3 col-form-label" %>
    <div class="col-lg-6">
      <%= f.text_field :address, autofocus: true, placeholder: "東京都渋谷区代々木神園町0-0", class:"form-control" %>
    </div>
  </div>
  <!-- 以上-->
  
  <!-- 郵便番号（ハイフンなし）を入力するフォーム -->
  <div class="form-group row">
    <%= f.label :name, "宛名", class:"col-lg-3 col-form-label" %>
    <div class="col-lg-3">
      <%= f.text_field :name, autofocus: true, placeholder: "令和道子", class:"form-control" %>
    </div>
    <div class="col-lg-3"></div>
    <div class="col-lg-3">
      <%= f.submit '新規登録', class: "px-5 py-7 btn btn-success"  %>
    </div>
  </div>
  <% end %>
  <!-- 以上-->
  
  <div class="row">
    <div class="mt-5 col-lg-9">
      <table class="table table-bordered border-dark">
        <tr class="table-active">
          <th scope="col" style="width: 15%">郵便番号</th>
          <th scope="col" style="width: 40%">住所</th>
          <th scope="col" style="width: 15%">宛名</th>
          <th scope="col" style="width: 30%"></th>
        </tr>
        <% @addresses.each do |address| %>
        <tr>
          <td>
            <%= address.postal_code %>
          </td>
          <td>
            <%= address.address %>
          </td>
          <td>
            <%= address.name %>
          </td>
          <td>
            <%= link_to "編集する", edit_address_path(address.id), class: "ml-2 px-2 btn btn-success" %>
            <%= link_to "削除する", address_path(address.id), method: :delete, class: "ml-1 px-2 btn btn-danger" %>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>