<div class="container">
  <div class="mb-3 row">
    <div class="col-lg-4 d-flex justify-content-center" style="background-color: secondarys" >
      <h4 class="px-3 my-3 bg-secondary text-white">配送先登録/一覧</h4>
    </div>
  </div>
    <%= form_with model:@address, url:'/addresses', local:true do |f| %>

  <div class="mb-3 row d-flex justify-content-center">
    <div class="col-lg-2">
      <%= f.label :'郵便番号(ハイフンなし)' %>
    </div>
    <div class="col-lg-4">
      <%= f.text_field :postal_code, placeholder: "test", class:"form-control" %>
    </div>
    <div class="col-lg-2">
      <%= f.label :住所 %>
    </div>
    <div class="col-lg-4">
      <%= f.text_field :address, placeholder: "test", class:"form-control" %>
    </div>
    <div class="col-lg-2">
      <%= f.label :宛名 %>
    </div>
    <div class="col-lg-4">
      <%= f.text_field :name, placeholder: "test", class:"form-control" %>
    </div>
  </div>
  <div class="mb-3 row d-flex justify-content-center">
    <div class="col-lg-3">
      <%= f.submit '新規登録', class: "px-5 py-7 btn btn-success"  %>
    </div>
  </div>
  <% end %>
</div>


<div class="row">
    <div class="col-lg-12 d-flex justify-content-center">
      <table class="table">
        <tr class="table-light">
          <th scope="col" style="width: 15%">郵便番号</th>
          <th scope="col" style="width: 35%">住所</th>
          <th scope="col" style="width: 15%">宛名</th>
          <th scope="col" style="width: 35%"></th>
        </tr>
        <% @addresses.each do |address| %>
        <tr>
          <td>
            <%= address.postal_code %>
          </td>
          <td>
            <%= address.address %>
          </td>
          <td>
            <%= address.name %>
          </td>
          <td>
            編集する
            削除する
          </td>


        </tr>
          <% end %>