<!-- 会員用商品詳細画面＆商品をカートに入れる記述 -->
<div class="container">
  <div class="my-5 row">
    <div class="col-lg-2">
      <p><strong>ジャンル検索</strong></p>
    </div>
    <div class="col-lg-4">
      <%= attachment_image_tag @item, :image, :fill, 350, 200, format: 'jpeg', class:"exmaple-hoge" %>
    </div>
    <div class="col-lg-6">
      <h4><strong><%= @item.name %></strong></h4>
      <h5><strong><%= @item.introduction %></strong></h5>
      <div class="mt-5 d-flex flex-wrap align-items-end">
        <h4>¥<%= @item.with_tax_price.to_s(:delimited) %></h4><h6 class="ml-2">(税込)</h6>
      </div>
      <%= form_with model:@cart_item, url:'/items', local:true do |f| %>
        <% if customer_signed_in? %>
          <%= f.hidden_field :customer_id, :value => current_customer.id %>
        <% end %>
        <%= f.hidden_field :item_id, :value => @item.id %>
        <%= f.select :amount, *[1..5], include_blank: "個数選択", class:"mt-3 custom-select" %>
        <%= f.submit "カートに入れる", class: "mt-3 mx-5 btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>