<%= attachment_image_tag @item, :image, :fill, 350, 200, format: 'jpeg', class:"exmaple-hoge" %>
<h4><%= @item.name %></h4>
<p><strong><%= @item.introduction %></strong></p>
<span><strong>¥<%= @item.price.to_s(:delimited) %></strong></span><span>(税込)</span>

 <%= form_with model:@cart_item, url:'/items', local:true do |f| %>
      <% if customer_signed_in? %>
        <%= f.hidden_field :customer_id, :value => current_customer.id %>
      <% end %>
        <%= f.hidden_field :item_id, :value => @item.id %>
        <%= f.select :amount, *[1..5] %>
        <%= f.submit "カートに入れる", class: "btn btn-primary" %>
    <% end %>
