<h4>ログイン</h4>
<h6>会員の方はこちらからログイン</h6>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :メールアドレス %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :パスワード %>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>


<h6>会員登録がお済みでない方</h6>
<%= link_to  "こちら", new_customer_registration_path  %>から新規登録してください。
